@import "../../mixins.scss";


.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .experience-data{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        .data-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25%;
            .data-logo{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background-color: #ededfb;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;
            }
            .data-numbers{
                font-size: 1.3rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            .data-name{
                font-size: 1.1rem;
                color: grey;
            }

        }
        
    
    }
    .about-me-section{
        margin-top: 1rem;
        padding-left: 1.8rem;
        h2{
            font-size: 1.3rem;
            font-weight: 600;
            letter-spacing:0.2px;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.1rem;
            color: grey;
        }

    }

}


#more {display: none;}
#link{
    color: #3f66fa;
    cursor: pointer;
}